<section class="page-header">
	<div class="container">
		  <h1>Edit Profile</h1>
	</div>
</section>
<div class="container edit-profile-page">
	<div class="visible-sm  visible-xs">
		<div class="question-sidebar">
		    <h4>Receive Personalized Counselling About:</h4>
		    <ul>
		        <li><i class="fa fa-check-square-o" aria-hidden="true"></i>field/career selection</li>
		        <li><i class="fa fa-check-square-o" aria-hidden="true"></i>career prospects/scope</li>
		        <li><i class="fa fa-check-square-o" aria-hidden="true"></i>university selection</li>
		        <li><i class="fa fa-check-square-o" aria-hidden="true"></i>admission process &amp; application</li>
		        <li><i class="fa fa-check-square-o" aria-hidden="true"></i>securing scholarships</li>
		        <li><i class="fa fa-check-square-o" aria-hidden="true"></i>entry test prepation/guidelines</li>
		    </ul>
		    <div class="button-contianer">
		        <a href="#" class="view-all-button">Get Connected</a>
		    </div>
		</div>
	</div>
	<div class="col-md-9">
		<%= render 'form' %>
	</div>
	<div class="col-md-3 hidden-sm hidden-xs">
		<div class="question-sidebar">
		    <h4>Receive Personalized Counselling About:</h4>
		    <ul>
		        <li><i class="fa fa-check-square-o" aria-hidden="true"></i>field/career selection</li>
		        <li><i class="fa fa-check-square-o" aria-hidden="true"></i>career prospects/scope</li>
		        <li><i class="fa fa-check-square-o" aria-hidden="true"></i>university selection</li>
		        <li><i class="fa fa-check-square-o" aria-hidden="true"></i>admission process &amp; application</li>
		        <li><i class="fa fa-check-square-o" aria-hidden="true"></i>securing scholarships</li>
		        <li><i class="fa fa-check-square-o" aria-hidden="true"></i>entry test prepation/guidelines</li>
		    </ul>
		    <div class="button-contianer">
		        <a href="#" class="view-all-button">Get Connected</a>
		    </div>
		</div>
	</div>
</div>
<script>
    
	//$(document).ready(function(){
		//$(".newPostForm br").hide();
		//$(".newPostForm input[type='submit']").addClass("btn btn-success");
	//});
    
</script>