<h1>Profile#index</h1>
<!--< form_for @profile, :html => { :multipart => true} do |f| %> -->
<!--<= f.file_field :photo %>-->
<!--<= f.submit "Submit" %>-->
<!--< end %>-->
<p>Find me in app/views/profile/index.html.erb</p>
