<br>
<div class="container" >
<br>

<h2 class="post-title-forum post-title-all-posts" style="">Editing Discipline</h1>
<br>
<%= render 'form' %>

<%= link_to 'Show', @discipline %> |
<%= link_to 'Back', disciplines_path %>
</div>