<div class="addnewanswerform">
	
	<%= bootstrap_form_for [@forum,@post,@post.comments.build],:remote => true,:html => { :id => 'comment_form' } do |f| %>
		<%= f.text_area :comment %>
		<%= f.submit "Post Your Answer" %>
	<% end %>

</div>
