<br>
<div class="container">
<br>
<h2 class="post-title-forum post-title-all-posts" style="">Editing NGO</h2>
<br>
<%= render 'form' %>

<%= link_to 'Show', @ngo %> |
<%= link_to 'Back', ngos_path %>
</div>