<section class="page-header">
        <div class="container">

          <h1>All Discussion Forums</h1>

          <!-- breadcrumbs -->
        
        </div>
</section>
<div class = "container" style="margin-top:60px;">
    <ul class="forum-dis-container">
        <% @disciplines.each do |d| %>
        
        <script>
            $(window).load(function(){
                
                var link_parent = $(".forum-list-link");
                for(var i = 0 ; i < link_parent.length ; i++){
                    
                    var links = $($(link_parent[i])[0]).find("a");
                	
                    var href = links[0].href;
                    var href_location = "window.location.href='" + href + "'";
                    var main_parent = $(link_parent[i]).parent(".forum-dis-list");
                	$(main_parent[0]).attr("onClick",href_location);
                }
            });    
        </script>
        
        <li class="forum-dis-list col-md-6">
            
   
            <div class="forum-image-container">
                
                <%= image_tag d.image.url(:large) , :class => "image_thumb_forum"%>
            
            </div>
            
            <div class="forum-list-link">
                <%= link_to d.name ,{:controller => "posts", :action => "index", :filter_id => d.id } %>
                <!--<a href="/posts?filter_id="+< d.id %>>Upload Fee Voucher</a>-->
            </div>
        </li>
        
        <% end %>
        
    </ul>
</div>

