
<body class="smoothscroll enable-animation">
    <div id="wrapper">
        	<section class="height-500" id="slider" style="background:url('11-min.jpg')">
				<div class="overlay dark-6"><!-- dark overlay [0 to 9 opacity] --></div>
			
				<div class="display-table">
					<div class="display-table-cell vertical-align-middle">
						
						<div class="container text-center">
							
							<h1 class="nomargin wow fadeInUp" data-wow-delay="0.4s">
								WE ARE 
								<!--
									TEXT ROTATOR
									data-animation="fade|flip|flipCube|flipUp|spin"
								-->
								<span class="rotate " data-animation="fade" data-speed="1500">
									Mentors, Counselors, Guidistan
								</span>
							</h1>

							<p class="lead font-lato size-30 wow fadeInUp" data-wow-delay="0.7s">
								Over <span class="countTo" data-speed="4000">50</span> Counselors! 
								<span class="theme-color weight-400 font-style-italic">Recommendation engine, Discussion forums </span> &amp; more
							</p>
							
							<a class="btn btn-default btn-lg" href="/disciplines">Get Started</a>

						</div>

					</div>
				</div>

			</section>
    </div>
    <div class="section container overview">
    <h1>Why is Guidistan right for me?</h1>
    <div class="row">
        <div class="col-sm-4">
            <h2>It's professional.</h2>
            <p>
All counselors are from top universities including LUMS, NUST and IBA. They understand problems of students very well and are willing to provide free counseling.</p>
        </div>
        <div class="col-sm-4">
            <h2>It's convenient.</h2>
            <p>Get counseling and learn at your own time and at your own pace. Ask questions in forums, Browse through universities and programs, Help others by answering their queries, use recommendation engine and stay connected.</p>
        </div>
        <div class="col-sm-4">
            <h2>It's free.</h2>
            <p>Guidistan is free for everyone to use. Students don't need to pay a penny for any service/feature. Counseling doesn't have to be expensive.</p>
        </div>
    </div>
</div>

<section id="cover">    				
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
                <div class="quote"><blockquote>
				    		<p class="er">A TEAM OF 3 EDUCATIONISTS CRAFTED GUIDISTAN. WHAT DO THEY THINK?</p>
				    	</blockquote></div>
				<div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="10000">
				  <!-- Carousel indicators -->
                  <ol class="carousel-indicators">
				    <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
				    <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
				    <li data-target="#fade-quote-carousel" data-slide-to="2" class="active"></li>

				  </ol>
				  <!-- Carousel items -->
				  <div class="carousel-inner">
                                

				    <div class="item">
				    
				    	<blockquote>
				    		<p>"I got a chance to serve NOP centre, LUMS and LUMS school of science and Engineering as a Mentor. Throughout my career, I came accross so many students who needed counseling but no one was there to help them out. This motivated me to work on Guidistan and I hope it will create atleast some difference."</p>
				    	    <span class="author"> - Written                                                     2 days
                         ago by Muhammad Sohail Aslam                    </span>
				    	</blockquote>	
				    </div>
				    <div class="item">
				    	<blockquote>
				    		<p>"I belong to a backward are near waziarastan where there is no concept of counseling and students suffer from educational problems. My aims are high and I am going to guide students of my area. They will be provided information regarding top universities in Pakistan and what should they do after matric/intermediate. Guidistan is first step towards this mission."</p>
				    					    	    <span class="author"> - Written                                                     1 day
                         ago by Saqib Shahzad                    </span>
				    	</blockquote>
				    </div>
				    <div class="active item">
				    	<blockquote>
				    		<p>"I studied in a government school and there was no one to guide me regarding my educational career. I ended up doing so many experiments. I don't want this to happen to my younger brother and his age fellows. This keeps me motivated and I continue to work on Guidistan."</p>
				    					    	    <span class="author"> - Written                                                     1 days
                         ago by Maueez Ahmed                   </span>
				    	</blockquote>
				    </div>
                    
				  </div>
				</div>
			</div>							
		</div>
	</div>
</section>
    <div class="section container overview">
    <h1>How do I get Started?</h1>
    <div class="row">
        <div class="col-sm-4">
            <h2>Ask a Question</h2>
            <p>
Use our state of the art forums to ask a question regarding your educational problem. Our experienced counselors will respond to your query in no time!</p>
        </div>
        <div class="col-sm-4">
            <h2>Browse Information</h2>
            <p>Explore our databases containing universities, disciplines and subdisciplines information and get to understand the diversity in the courses.</p>
        </div>
        <div class="col-sm-4">
            <h2>Get recommendations</h2>
            <p>Update your interests by editing your profile and after some browsing on site, get recommendations from our AI powered engine.</p>
        </div>
    </div>
</div>

</body>
        