

<% @posts.each do |fpost| %>
    <div class="flagged-post panel panel-default">
        <h3>Title</h3>
        <span><%= fpost.post.title %></span>
        <h4>Description</h4>
        <p><%= fpost.post.description %></p>
        <%= link_to 'Delete', fpost , method: :delete , data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
        <!--<= link_to 'Destroy', fpost.post.id , method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-danger"%>-->
    </div>
<% end %>