
<div id="filterrific_results">
	<ul style="overflow:hidden;">
		<% if @discipline_universities.present? %>
			<% @discipline_universities.each do |discipline_university| %>
			
				<li class="forum-dis-list col-sm-12 col-md-12" style"margin-bottom: 10px;">
					<div class="degree-uni-container">
						
						<div class="degree-uni-subcontainer col-md-3 col-sm-3 col-xs-12" id="deg-uni">
						
							<div class="uni-avatar-details-container">
								<% if discipline_university.university.image.present? %>
									<%= image_tag discipline_university.university.image.url(:small) %>
								<% else %>
									<img src="/avatar_generic.jpg">
								<% end %>
							</div>
							<div class="university-title-cont">
								
								<p style="margin:0px;" class="university-name-container"><%= link_to  discipline_university.university.name , "/universities/#{discipline_university.university.slug}",{:style => 'color: #009cda;'}%></p>
								<p class="university-city-name"><%= discipline_university.university.city.name %></p>
								
							</div>
							
						</div>
						
						<div class="degree-name-container col-md-9 col-sm-9 col-xs-12" id="deg-name">
							<h3><%= link_to  discipline_university.name , "/discipline_universities/#{discipline_university.slug}",{:style => 'color: #009cda;'}%></h3>
						</div>
					</div>
				</li>
			<% end %>
		<% else %>
			<div class="about-disc col-md-10 col-sm-12 col-centered">
				<h4>Sorry, No records match your search Results </h4>
			</div>
		<% end %>
	</ul>
</div>


