<div id="filterrific_results">
	<div class="col-sm-9">
	  
	  <% @discipline_universities.each do |discipline_university| %>
	  <div class="panel panel-default">  
	      <div class="panel-heading"><%= discipline_university.degreeprogram.name %></div>
	          <div class="panel-body">
	                <%= discipline_university.university.name %> | <%= discipline_university.university.city.name %>
	          </div>
	    </div>
	    <% end %>
	</div>
</div>