<section class="page-header">
	<div class="container">

		  <h1>Create New Post</h1>

	</div>
</section>



    
<div class="container create-new-post">
    
    
    <div class="col-md-12 visible-xs">
        
        <div class="question-sidebar">
            Right Side Info Text, Info : There are two divs for this, find me in the code to change my text. :D
        </div>
        
    </div>
    
  
    <div class="col-md-9">
    
        <div class="newPostForm">
            
            <%= render 'form' %>
        
        </div>
   
   
  
        <div class="newpost_link_toback">
            <%= link_to "Back", {:controller => "posts", :action => "index", :filter_id => @id } %>
        </div>
        

    </div>
    
    <div class="col-md-3 hidden-xs">
        
        <div class="question-sidebar">
            <h4>Receive Personalized Counselling About:</h4>
            <ul>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>field/career selection</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>career prospects/scope</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>university selection</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>admission process &amp; application</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>securing scholarships</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>entry test prepation/guideline</li>
            </ul>
            <div class="button-contianer">
                <a href="#" class="view-all-button">Get Connected</a>
            </div>
        </div>
        
    </div>
    
    

</div>

<script>
    
    $(document).ready(function(){
        $(".newPostForm br").hide();
        $(".newPostForm input[type='submit']").addClass("btn btn-success");
    });
    
    $(".question-sidebar").click(function() {
        window.location = $(this).find("a").attr("href"); 
        return false;
    });
    
</script>