<section class="page-header">
				<div class="container">

					  <h1>Create New Post</h1>

					

				</div>
</section>



    
<div class="container">
    
    
    <div class="col-md-12 visible-xs">
        
        <div class="question-sidebar">
            Right Side Info Text, Info : There are two divs for this, find me in the code to change my text. :D
        </div>
        
    </div>
    
  
    <div class="col-md-9">
    
        <div class="newPostForm">
            
            <%= render 'form' %>
        
        </div>
   
   
  
        <div class="newpost_link_toback">
            <%= link_to "Back", {:controller => "posts", :action => "index", :filter_id => @id } %>
        </div>
        

    </div>
    
    <div class="col-md-3 hidden-xs">
        
        <div class="question-sidebar">
            Right Side Info Text
        </div>
        
    </div>
    
    

</div>

<script>
    
    $(document).ready(function(){
        $(".newPostForm br").hide();
        $(".newPostForm input[type='submit']").addClass("btn btn-success");
    });
    
</script>