/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require rails_bootstrap_forms
 *= require font-awesome
 *= require token-input
 */
 
 body,p, ol, ul, td,*{
     font-family:'Open Sans', Arial, Helvetica, sans-serif;;
 }
 .adm{
    background-color: #478cfe;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
 }
 .apni{
     padding-right: 110px;
     padding-left: 110px;
     padding-top: 50px;
     margin-right: auto;
     margin-left: auto;
     /*margin-top: auto;*/
 }
/*For discplines blocks*/
#section { 
    background-color: #eee;
    padding: 1em;
    text-align: center;
    cursor: pointer;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transition: all 0.15s linear;
    display: block;
    border-radius: 2.5%;
}
#section:hover {
  background-color: #6aacf2
}
#header{
    padding-top:15px;
    padding-bottom:15px;
}
#topMain a{
    font-size:14px;
}
.forum-dis-container{
    overflow:hidden;
}
.forum-dis-container li {
    margin: 0;
    padding: 1em;
    background-color: #EEEEEE;
    height: 250px;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    text-align: center;
    transition: background-color 0.15s linear;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}
.forum-dis-container li:hover {
    background-color: rgba(138, 185, 51, 0.96);
}
.forum-dis-container li:hover a {
    color: #EEEEEE;
    text-decoration: none;
}


.forum-dis-container li a.tab-title {
    color: #222222;
    transition: none !important;
    height: 100%;
    font-size: 30px;
}

.degree-uni-container{
    margin: 0;
    padding: 1em;
    background-color: #EEEEEE;

    border-right: 5px solid #FFFFFF;
    border-top: 5px solid #FFFFFF;
    text-align: center;
    transition: background-color 0.15s linear;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}
.forum-dis-list:hover a.tab-title{
    color:white;
}
.newPostForm.editprofileForm label {
    display: block;
    margin-bottom: 10px;
}

.newPostForm.editprofileForm .field {
    padding-bottom: 15px;
}

.newPostForm.editprofileForm input[type=file] {
    border: 0px;
    padding-left: 0px;
}
.degree-uni-container:hover {
    background-color: #e0dfdc;
}
.degree-uni-subcontainer{
    /*margin: 0;*/
    /*padding: 1em;*/

    height: auto;


    transition: background-color 0.15s linear;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}
.degree-uni-subcontainer {
    width: 50%;
    margin: 0px auto;
    min-height: 70px;
}
li.forum-dis-list.col-sm-4.col-md-4.pull-right {
    padding: 2px;
    /* margin: 0px; */
}



.forum-dis-list h3 {
   
}
.university-title-cont {
    width: 45%;
    display: inline-block;
}

.degree-uni-subcontainer {
    border-right: 1px solid #ccc;
}



li.forum-dis-list.col-sm-4.col-md-4.pull-right {
    padding: 2px;
}

.register-form-main-page{
    margin-top:80px;
    margin-bottom:80px;
}
.uni-avatar-details-container img {
    width: 100%;
}

.uni-avatar-details-container{
    height: 70px;
    overflow: hidden;
    display: inline-block;
    box-shadow: 0 0 black;
    width: 19%;
    /* vertical-align: middle; */
    vertical-align: top;
    margin-right: 30px;
}

.forum-dis-list{
    list-style-type:none;
}
label.select select{
    cursor:pointer;
}
.registeration-form-container #error_explanation {
    padding: 15px;
    padding-bottom: 0px;
}



.registeration-form-container #error_explanation h2 {
    font-size: 22px;
    margin-bottom: 0px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 6px 10px;
}
.registeration-form-container #flash_alert{
     color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 6px 10px;
    margin: 0px 15px;
}
.registeration-form-container #error_explanation ul{
    margin-bottom:10px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    /* padding: 6px 10px; */
    padding-bottom: 10px;
}
.login-form-container .boolean.optional{
    padding-left:0px;
}
.forum-image-container{

    width: 300px;
    height: 180px;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 20px;
}
.image_thumb_forum{
    
}
.forum-list-link {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-top:20px;
    margin-top: 5px;
    margin-left: 15px;
    /* text-align: center; */
    width: calc(100% - 343px);
}
.login-btn-main{
    margin-top:-5px;
}
.forum-image-container{
    width:300px;
}
.image_thumb_forum{
    width:100%;
}
.forum-dis-list{
    text-align:left !important;
}
.forum-image-container{
    display:inline-block;
}
.hide-label-checkbox label.checkbox{
    min-height: 0px;
    margin: 0px;
}
.label-key {
    color: #9199a1;
    font-size: 14px;
    padding-bottom:0px;
    margin-bottom:0px;
}
.description-container{
    padding-left:0px !important;
}
.single-description-para{
    min-height:20px;
    /*display:inline-block;*/
    vertical-align:top;
}
.single_postliker,.multi_commentliker{
    display:inline-block;
    float:left;
}
h2.post-title-forum{
    font-weight:300;
    margin-top:0px;
    margin-bottom:0px;
}
    
.backbutton-single{
    display: block !important;
    clear: both;
    width: 57px;
    margin-left: 0px;
    padding-top: 20px;
    margin-bottom: 20px !important;
}
   
.post-title-forum a{
    color: #8ab933;
}
.user-details-post{
    text-align:center;
}
.description-container{
    min-height:100px;
}
.user-single-postpic{
    padding-top:15px;
}
.label-value{
    margin-bottom:0px;
    padding-bottom:0px;
}
.user-details-post{
    padding:15px;
    background-color: rgba(0,0,0,0.05);
    border:rgba(0,0,0,0.05) 1px solid;
}
.description-container {
    padding-left:0px;
}
.forum_post_question_container{
    clear: both;
    padding: 5px 0;
    border-bottom: 1px solid #e4e6e8;
    margin-bottom: 1em;
    padding-top: 20px;
}
.forum_post_question_container h1{
    margin-bottom: .5em;
    font-size: 27px;
    font-weight: 500;
}
.hide-label-checkbox{
    padding-left:0px !important;
}
.label-remember-me {
    padding-left: 27px !important;
}
.post-title-forum{
    margin-bottom: 10px;
    color: #8ab933;
}
.block-review-content{
    min-height: 210px;
}
.comment-body{
    border-right:0px !important;
    border-left:0px !important;
    border-top: 1px solid #e4e6e8;
    border-bottom: 1px solid #e4e6e8;
}
.comment-body .panel-body{
    padding-left:0px !important;
    padding-right:0px !important;
}
form#new_comment{
    margin-bottom:0px;
}
.block-all-post-detail-box-container{
    
    float:left;
}
.block-box-review-post{
    margin-left:10px !important;
}
.block-all-post-detail-box {
text-align: center;
    padding: 5px 5px;
    border: 1px solid #8ab933;
    margin-bottom: 5px;
}

.block-all-post-value-box {
    color: #8ab933;
    font-size: 20px;
    font-weight: 600;
}

.block-all-post-title-box {
    color: #848d95;
    font-size: 11px;
}


.up_vote_st {
    transition:none !important;
    text-indent: -9999em;
    cursor: pointer;
    display: block;
    height: 30px;
    text-align: center;
    text-decoration: none;
    text-indent: -9999px;
    width: 40px;
    column-rule-color: rgb(0, 119, 204);
    perspective-origin: 20px 15px;
    transform-origin: 20px 15px;
    background: url("./sprites.png") no-repeat scroll -40px -170px / auto padding-box border-box, rgba(0, 0, 0, 0) none no-repeat scroll -40px -170px / auto padding-box border-box;
    border: 0px none rgb(0, 119, 204);
    font: normal normal normal normal 1px / 16.9px Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0px 3px 2px;
    background-position: 0 -170px;
   
}/*#likerA_4*/

.up_vote_selected{
    background-position: -40px -170px !important;
}
.down_vote_selected{
     background-position: -40px -220px !important;
}
.number_of_likes {
    border-collapse: collapse;
    color: rgb(106, 115, 124);
    display: block;
    height: 16px;
    text-align: center;
    width: 46px;
    column-rule-color: rgb(106, 115, 124);
    perspective-origin: 23px 8px;
    transform-origin: 23px 8px;
    border: 0px none rgb(106, 115, 124);
    font: normal normal normal normal 20px / 16.9px Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 8px 0px;
    outline: rgb(106, 115, 124) none 0px;
}/*#likerSPAN_5*/
.all-posts-forum-page-content{
    border-bottom: 1px solid #ccc;
}
.down_vote_st {

    cursor: pointer;
    display: block;
    height: 30px;
    text-align: center;
    text-decoration: none;
    text-indent: -9999px;
    width: 40px;
    column-rule-color: rgb(0, 119, 204);
    perspective-origin: 20px 15px;
    transform-origin: 20px 15px;
    background: url("./sprites.png") no-repeat scroll 0px -220px / auto padding-box border-box, rgba(0, 0, 0, 0) none no-repeat scroll 0px -220px / auto padding-box border-box;
    border: 0px none rgb(0, 119, 204);
    font: normal normal normal normal 1px / 16.9px Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0px 3px 10px;
    outline: rgb(0, 119, 204) none 0px;
    overflow: hidden;
    transition:none !important;
}/*#likerA_6*/
.notification{
    position:relative;
}
.notification .view_all{
    text-align:center;
}
.notification .dropdown-menu{
    display:block;
}
.notification .dropdown-menu li a{
    white-space:normal;
}
.notification:hover .dropdown-menu.notification-hide{
    display:none !important;
}
.notification .dropdown-menu.notification-hide{
    display:none;
}
.notification_count{
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid #619500;
    border-radius: 4px;
    line-height: 18px;
}
.notificat_holder ul{
    margin:15px 0;
    padding:0;
    list-style:none;
}
.notificat_holder ul li{
    margin: 5px 0;
    border-bottom: 2px solid #619500;
    border: 1px solid #ccc;
    border-bottom: 2px solid #619500;
    padding: 10px;
    border-radius: 5px;
}
.notificat_holder ul li strong{
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}
.notificat_holder ul li p{
    margin: 5px 0;
}
.notificat_holder ul li span{
        text-align: right;
    display: block;
}
.notificat_holder ul li span a{
    color:#619500;
    text-decoration:none;
}
.profile_header h3{
    text-align:left;
}
.profile_header span{
    text-align:right;
}
.profile_detail{
width: 100%;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;

}
.profile_detail .image_box img{
    max-width: 130px;
    margin-bottom: 30px;
}
.detail_holder h3{
    font-size:16px;
}
.detail_holder > div{
    margin-bottom:5px;
}
.detail_holder > div > label{
    font-size:14px;
}
.detail_holder > div > label .adm{
    margin-left:15px;
}
.detail_holder > div > span{
    margin-left:5px;
}
@media(max-width:767px){
    .notification_count{
        top:10px;
    }
}
.newPostForm label {
    display: inline-block;
    font-weight: 600;
    padding-right: 15px;
    font-size: 16px;
    margin-bottom: 0px;
    vertical-align: middle;
}

.newPostForm input {
    display: inline-block;
}

.newPostForm {
    padding-top: 40px;
}
.question-sidebar{
    padding:15px;
    background-color: rgba(0,0,0,0.05);
    margin-top:40px;
}
.newPostForm input[type="text"] {
    height: 37px;
    padding-left: 10px;
}

.newPostForm .field {
    padding-bottom: 25px;
}

.newPostForm input[type="submit"] {
    width: 150px;
    border:0px !important;
}
.newPostForm input, .newPostForm textarea {
    width: 85%;
    padding-left: 10px;
    border: 1px solid black; 
}
.newPostForm label[for="post_description"]{
    vertical-align:top !important;
    display:block;
}
.newPostForm textarea#post_description{
        margin-left: 50px;
    margin-top: 20px;
}
.newPostForm input:focus,.newPostForm textarea:focus {
    outline: #32cd32 auto 1px !important;
}

.newPostForm textarea {
    height: 220px;
    padding: 10px;
    resize: none;
    background: #FFF;
    border: 1px solid;
}

.newpost_link_toback{
   
  
    margin-bottom: 30px;
    display: block;
}

.disc-edit-del-btns{
    margin-top:31px;
}
.new-post-showall{
    background-color:#8ab933 !important;
    border:none !important;
}
.edit-desc-btn a{
    padding-top:10px;
    color:#8ab933 !important;
}
.comment-body{
    padding-top:10px;
}
.comments-main-body{
    padding-top:0px !important;
}
.comments-main-body h4:first-child{
    margin-top:5px;
}
.comments-reply-container {
    padding-left: 65px;
    padding-top: 10px;
}
.comments-reply-container .new_comment{
    display:none;
}
.comments-reply-container .new_comment{
    padding-top:15px;
}
.new_comment input[type="submit"]{
    background-color: #8ab933 !important;
    border:none !important;
    color: white !important;
}
.backbutton-single{
    color: #8ab933 !important;
}

.get-reply-option-btn{
    display:block;
    padding-top:10px;
    color:#8ab933 !important;
    
}
.get-reply-option-btn:hover,.get-reply-option-btn:focus{
    text-decoration:none;
}
.comments-reply-container .control-label{
    display:none;
}
.comments-reply-container li {
    list-style-type: none;
}

a.comments-small-btns {
    font-size: 12px;
    color: #8ab933 !important;
}
.block-all-post-detail-box-container.visible-xs .block-all-post-detail-box {
    width: 25%;
    display: inline-block;
    margin-right: 1px;
    margin-left: 1px;
}
.ask-a-question-btn{
    margin-top:15px;
    margin-bottom:0px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.commentator-img-box{
    padding: 10px 15px;
    background-color: rgba(0,0,0,0.05);
    border: rgba(0,0,0,0.05) 1px solid;
}
.commentator-img-box.mobile{
    margin:0px auto;
    margin-top: 15px;
    max-width: 200px;
}

.addnewanswerform textarea{
    height:200px !Important;
}
.commentator-answer-txt {
    font-size: 12px;
    margin-bottom: 5px;
}

.commentator-box-thumbimg img {
    width: 50px !important;
    height: auto !important;
}

.commentator-box-thumbimg {
    display: inline-block;
    width: 50px;
}

.commentator-box-right {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px;
}
.container.showsingle-profile{
    padding-top:30px;
}
.image-box-ssp{
    width: 200px;
    margin: 0px !important;
    overflow: hidden;
    border: 1px solid #ccc;
    text-align: center;
    padding-bottom: 20px;
}
.image-box-ssp img{
    padding: 20px;
    max-width: 200px;
}
.image-box-rep {
    font-size: 19px;
}

.image-box-rep span {
    font-size: 12px;
    color: #949596;
}
.container.edit-profile-container {
    padding-top: 20px;
}

.container.edit-profile-container h3 {
    color: #8ab933;
}
.delete-btn-show-posts,.edit-btn-show-posts
{
    
    color:#8ab933 !important;
}
.image-box-ssp,.user-profileinfo-box{
    display:inline-block;
}
.user-profileinfo-box{
    vertical-align: top;
    padding-left:15px;
}
.edit-profile-form {
    width: 50%;
}

.user-profileinfo-box h2{
    margin-top:0px;
}
.readmore-allpost{
    color:#8ab933;
}
div#filterrific_results > ul {
    padding-left: 0px;
}
.degree-uni-container {
    margin-bottom: 7px;
}
.normal-link{
    color: #8ab933;
    padding-top: 10px;
    padding-bottom: 5px;
}
section.page-header{
    padding: 50px 0 23px 0 !important;
}
section.page-header a:hover,section.page-header a:focus{
    color: #8ab933 !important;
    text-decoration: none;
}
.top-user-header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: rgba(0,0,0,0.05) 1px solid;
    border-right: 0px;
    border-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #8ab933;
}
#topMain.nav-pills>li>a.dropdown-toggle{
    padding-right: 14px;
}
.download-in-excel-form{
    margin-top:20px;
}
.disc_unis_admins {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 7px;
    margin-bottom: 15px;
}
.mCustomScrollbar {
    height:250px;
}
.panel label{
    font-weight:normal;
    display: block;
    cursor:pointer;
}
.stats-inner-container{
    height:175px;
    background-image:url(./stats.png);
    background-color:#5ab95a;
    background-position:bottom;
    background-repeat:no-repeat;
}
.stats-inner-container .heading {
    font-size: 20px;
    text-align: center;
    color: white;
    /* padding-top: 18px; */
}

.stats-inner-container .data {
    font-size: 20px;
    text-align: center;
    color: white;
    padding-top: 5px;
}

.stats-inner-container {
    padding-top: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.search-students-box input {
    width: 300px;
    display: inline-block;
    height: 35px;
}

.search-students-box {
    padding-bottom: 20px;
    text-align: center;
}

.search-students-box strong {
    display: block;
    padding-bottom: 10px;
}
.alluser-table td{
    vertical-align:middle !important;
    text-align:center;
}
.alluser-table .single-image{
    vertical-align:middle;
    text-align:center;
}
.user-profile-images{
    display:none;
}
.container.stats-container {
    padding-top: 50px;
    padding-bottom:30px;
}
.panel-heading{
    cursor:pointer;
}
.disc_unis_admins form{
    margin:0px;
}
.disc_unis_admins a.btn.btn-success {
    margin-top: 25px;
    padding: 3px 10px !important;
}
.top-user-single-container {
    padding: 5px 10px;
}
.top-user-avatar img {
    width: 100%;
}
.top-user-header{
    margin-bottom:10px;
}
.right-side-topuser {
    width: 55%;
    display: inline-block;
}
.top-user-avatar {
    max-height: 90px;
    overflow: hidden;
}
.top-user-avatar {
    width: 33% !important;
    display: inline-block;
    vertical-align: top;
}

.top-user-name {
    color: #8ab933;
}

.top-user-ranking {
    color: #848d95;
    font-size: 12px;
}

.top-user-avatar {
    width: 20%;
}

.top-user-col {
 
    background-color: rgba(0,0,0,0.05);
    border: rgba(0,0,0,0.05) 1px solid;
    margin-top: 30px;
    padding-bottom:10px;
}
.token-input-list .token-input-token,.token-input-list .token-input-input-token{
    display: inline-block !important;
    overflow: hidden !important;
    margin: 2px !important;
    margin-bottom: 1px !important;
}
.liker_error_message,.commentliker_error_message {
    display:none;
    position: absolute;
    left: 45px;
    top: 34px;
    background-color: #ec4843;
    color: white;
    padding: 2px 6px;
    font-size: 12px;
}
.notficiation-bar-tab {
    width: 400px;

}
.forum-image-container.dis-image-container {
    display: block;
    width: 100%;
    height: 100px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
}

.forum-list-link.dist-list-link {
    display: block;
    margin: 0px auto !important;
    text-align: center !important;
    width: auto !important;
    margin-top: 5px !important;
}

.forum-dis-list.dis-dis-list {
    height: 150px;
}

.forum-list-link.dist-list-link a {
    color: #8ab933;
}

.left-side-pic {
    max-height: 100px;
    overflow: hidden;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.single-notification {
    overflow: hidden;
    background-color: #edf2fa;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid #ccc;
}

.arrow_box {
	position: relative;
	background: #edf2fa;
}
.arrow_box:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(237, 242, 250, 0);
	border-bottom-color: #edf2fa;
	border-width: 11px;
	margin-left: -11px;
}

.right-side-text {
    font-size: 12px;
}

.right-side-time {margin-top: 5px;}

.right-side-text {
}

.left-side-pic img {
    width: 100%;
}


.right-side-text {
    padding-left: 0px !important;
}
.right-side-text {
    padding-left: 0px;
    color: black;
}
.commentliker_error_message{
    width:300px;
}
.liker_error_message a, .commentliker_error_message a,.liker_error_message a:hover,.liker_error_message a:focus,.commentliker_error_message a:hover,.commentliker_error_message a:focus{
    color:white;
    text-decoration:none;
}
.multi_commentliker{
    position:relative;
}
.newpost_link_toback a {
    color: #8ab933;
}
li.token-input-token{
    color: rgba(0, 0, 0, 0.77) !important;
}
.universities-boxes-container {
    padding-top: 20px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom:20px;
}

.university-single-main-box {
    padding: 1px !important;
}

.sub-dis-inner-box {
    background-color: #EEEEEE;
    text-align: center;
    transition: background-color 0.15s linear;
    min-height: 100px;
    padding: 15px;
}

.sub-dis-inner-box:hover {
    background-color: #8ab933;
}

.sub-dis-inner-box:hover .sub-dis-name,.sub-dis-inner-box:hover .sub-dis-name a {
    color: white;
}

.sub-dis-name ,.sub-dis-name a{
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: black;
    font-size: 18px;
    cursor:pointer;
}
.sub-dis-box {
    margin-bottom: 15px;
}

@media (min-width: 992px)
{
    .sub-dis-box.col-md-3 {
        float: none !important;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        width: 24.7%;
    }

}

h1.uni-name-container {
    margin-top: 0px;
}

.uni-image-container {
    padding-left: 0px;
}
.uni-description {
    padding-top: 15px;
}
.disc-offered-container
 .panel-title a {
    color: #8ab933;
}

.disc-offered-container
.panel-default>.panel-heading {
    background-color: rgba(245, 245, 245, 0.45) !important;
}

.col-md-12.single-uni-container {
    padding-left: 0px !important;
}

.uni-image-container.col-md-1 {
    padding: 0px !important;
    text-align: center;
}

.uni-right-side-container.col-md-11 {
    padding-left: 10px !important;
}

.disc-offered-container
 .panel-title a:hover {
    text-decoration: none;
}

.disc-offered-container a {
    color: #8ab933;
}
.disc-offered-container a:hover,.disc-offered-container a:focus{
    color: #8ab933;
}
h2.disc-offered-heading {
    margin-bottom: 30px;
}


.uni-right-side-container {
    padding-left: 0px;
}

.disc-offered-container {
    clear: both;
    padding-top: 10px;
}


.show-dis-image img {
    max-height: 400px;
}


.sub-dis-name:hover ,.sub-dis-name a:hover{
    text-decoration:underline;
}
.university-single-box-container {
    background-color: rgba(0,0,0,0.05);
    min-height: 100px;
    padding-top: 20px;
}
.show-dis-image {
    margin-top: 15px;
    margin-bottom: 20px;
}
.no-padding{
    padding-left:0px !important;
    padding-right:0px !important;
}

.university-single-box-container:hover {
    background-color: rgba(138, 185, 51, 0.96);
}
.university-single-box-container .uni-name{
    color: #8ab933;
}

.university-single-box-container:hover .uni-name{
    color:#fff;
}
.profile-page-leftside-container {
    padding-top: 40px;
}
.user-profileinfo-box h3 {
    margin-top: 0px;
}
.university-single-box-container{
    cursor:pointer;
}
.university-single-box-container:hover .uni-name a,
.university-single-box-container:hover .university-description-box,.university-single-box-container:hover .uni-city {
    color:white;
}
.university-imagebox {
    overflow: hidden;
}
.uni-name a{
    color:#8ab933;
}
.uni-name a:hover,.uni-name a:focus{
    color:white;
    text-decoration:none;
}
.university-imagebox img {
    border: 1px solid #ccc;
    vertical-align: middle;
}


.university-namecity-box {
    padding-left: 0px !important;
}

.uni-name {
    font-size: 12px;
    font-weight: bold;
}

.uni-city {
    font-size: 13px;
}
.university-description-box {
    padding-top: 10px;
    font-size: 12px;
}
.btn.btn-success{
    background-color: #8ab933 !important;
}
.token-input-list{
    margin-left: 50px !important;
    margin-top: 10px !important;
    width:85% !important;
}
.small-text.top-user-ranking{
    margin-top:5px;
}
.token-input-input-token input{
    outline: none !important;
    width: auto !important;
    display: inline-block !important;
    height: auto !important;
    vertical-align: top !important;
    margin: 1px !important;
}
.token-input-delete-token{
    margin-left:5px;
}
.btn{
    height:auto;
}
.normal-link:hover,.normal-link:focus{
    color: rgba(138, 185, 51, 0.78);
}
.user-profileinfo-box-down {
    padding-top: 2px;
}
.delete-btn-show-posts{
    padding-left:10px;
}
.user-profileinfo-little-container{
    display:inline-block;
    padding-left:10px;
}
.user-profileinfo-little-container:first-child{
    padding-left:0px;
}
@media(min-width:768px){
    .comments-reply-container textarea{
        width:72%;
    }
}
@media(max-width:992px){
    .sub-dis-box{
        padding-left:0px !important;
        padding-right:0px !important;
    }
    .show-dis-image{
        text-align:center;
    }
    .university-imagebox img {
        width: auto;
        margin: 0px auto;
    }
    
    .university-imagebox {
        text-align: center;
    }
    
    .university-single-box-container {
        text-align: center;
    }
    
    .university-namecity-box.col-md-8 {
        padding-top: 10px;
    }
    
    #topNav{
        padding-bottom: 0px;
        background-color: white;
        border-bottom: rgba(0,0,0,0.08) 1px solid;
        -webkit-box-shadow: -3px 1px 2px rgba(0,0,0,.1);
        -moz-box-shadow: -3px 1px 2px rgba(0,0,0,.1); 
        box-shadow:-3px 1px 2px rgba(0,0,0,.1);
    }
    div#header{
        border-bottom: 0px !important;
        box-shadow: none !important;
        padding-top:0px !important;
    }
    .forum-list-link {
        width: 100%;
    }
    li.forum-dis-list {
        height: auto;
        margin-bottom: 1px;
        text-align: center;
    }
    .forum-dis-container{
        padding-left:10px;
    }
    .forum-image-container {
        width: 100%;
        text-align: center;
        margin-left:0px;
    }

    img.image_thumb_forum {
        width: 75%;
        text-align: center;
    }
    
    .forum-list-link {
        text-align: center;
        margin-left: 0px;
    }
}
@media(max-width:572px){
    .image-box-ssp {
        margin: 0px auto !important;
        float: none !important;
        display: block !important;
        margin-bottom: 15px !important;
    }
    
    .showsingle-profile {
        text-align: center;
    }
    
    a.edit-profile-link {
        float: none !important;
        padding-bottom: 10px;
        display: block;
    }
    
    .showsingle-profile {
        padding-top: 0px !important;
    }
}

@media(max-width:768px){
    
    .forum-dis-list.dis-dis-list{
        height:auto;
    }
    .forum-image-container.dis-image-container{
        height:auto !important;
    }
    .uni-avatar-details-container {
        display: block;
        margin-right:0px;
        width: auto;
        height: auto;
    }
     .uni-avatar-details-container  img{
         width:auto;
     }
    
    .university-title-cont {
        width: auto;
        display: block;
        padding-top: 15px;
    }
    
    .degree-uni-subcontainer {
        height: auto;
        border: 0px;
    }
    
    .degree-uni-container {
        padding-top: 20px;
    }
    
    .degree-name-container {
        margin-top: -15px;
    }

    
    .newpost_link_toback{
        text-align:center;
    }
    .container.edit-profile-container h3 {
        text-align:center;
    }
    .container.edit-profile-container {
        padding-top: 0px;
        margin-top: -30px;
    }
    
    .edit-profile-form {
        margin: 0px auto;
    }
    .comments-reply-container {
        padding-left: 49px;
        padding-top: 10px;
    }
    .single-description-para{
        text-align:justify;
    }
    .ask-a-question-btn{
        text-align:center;
    }
    .disc-edit-del-btns{
        margin-top:20px;
    }

    .newPostForm input, .newPostForm textarea,.token-input-list{
        width:75% !important;
    }
    .newPostForm .actions{
        text-align:center;
    }
    .post-title-all-posts{
        clear:both;
    }
    .all-posts-forum-page-content{
        text-align:center;
        border-bottom: 1px solid #ccc;
    }
    .block-review-content div.block-review-avatar{
        width:auto !important;
        margin-left:0px !important;
        float:none !important;
        margin-top:15px;
        margin-bottom:15px;
    }
    .post-title-all-posts{
        padding-bottom:15px;
    }
    .all-posts-forum-page-content .pull-left{
        float:none !important;
    }
    .block-all-post-detail-box-container{
        float:none;
    }
}
.degrees_holder{
    width:100%;
    padding:10px;
}
.degrees_holder h2{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 22px;
    padding:10px 5px;
    border-bottom: 2px solid #619500;
}
.degrees_holder ul{
    margin: 15px 0;
    padding: 0;
    list-style: none;
}
.degrees_holder ul li{
    padding: 10px 15px;
    border: 1px solid #ccc;
    margin: 10px 0;
}
.degrees_holder a{
    color: #98BA5A;
    text-decoration: none;
}