/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require rails_bootstrap_forms
 *= require font-awesome
 *= require token-input
 */
 body,p, ol, ul, td,*{
     font-family:'Open Sans', Arial, Helvetica, sans-serif;;
 }
 .adm{
    background-color: #478cfe;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
 }
 .apni{
     padding-right: 110px;
     padding-left: 110px;
     padding-top: 50px;
     margin-right: auto;
     margin-left: auto;
     /*margin-top: auto;*/
 }
/*For discplines blocks*/
#section { 
    background-color: #eee;
    padding: 1em;
    text-align: center;
    cursor: pointer;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transition: all 0.15s linear;
    display: block;
    border-radius: 2.5%;
}
#section:hover {
  background-color: #6aacf2
}
#header{
    padding-top:15px;
    padding-bottom:15px;
}
#topMain a{
    font-size:14px;
}
.forum-dis-container{
    overflow:hidden;
}
.forum-dis-container li {
    margin: 0;
    padding: 1em;
    background-color: #EEEEEE;
    height: 250px;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    text-align: center;
    transition: background-color 0.15s linear;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}
.forum-dis-container li:hover {
    background-color: rgba(138, 185, 51, 0.96);
}
.forum-dis-container li:hover a {
    color: #EEEEEE;
    text-decoration: none;
}


.forum-dis-container li a.tab-title {
    color: #222222;
    transition: none !important;
    height: 100%;
    font-size: 30px;
}

.degree-uni-container{
    margin: 0;
    padding: 1em;
    background-color: #EEEEEE;
    height: 150px;
    border-right: 5px solid #FFFFFF;
    border-top: 5px solid #FFFFFF;
    text-align: center;
    transition: background-color 0.15s linear;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}
.degree-uni-container:hover {
    background-color: #e0dfdc;
}
.degree-uni-subcontainer{
    /*margin: 0;*/
    /*padding: 1em;*/
    background-color: #EEEEEE;
    height: auto;
    border-right: 5px solid #FFFFFF;
    border-top: 1px solid #a8a7a5;
    transition: background-color 0.15s linear;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}

.degree-uni-subcontainer:hover {
    background-color: #e0dfdc;
}
.register-form-main-page{
    margin-top:80px;
    margin-bottom:80px;
}
label.select select{
    cursor:pointer;
}
.registeration-form-container #error_explanation {
    padding: 15px;
    padding-bottom: 0px;
}



.registeration-form-container #error_explanation h2 {
    font-size: 22px;
    margin-bottom: 0px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 6px 10px;
}
.registeration-form-container #flash_alert{
     color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 6px 10px;
    margin: 0px 15px;
}
.registeration-form-container #error_explanation ul{
    margin-bottom:10px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    /* padding: 6px 10px; */
    padding-bottom: 10px;
}
.login-form-container .boolean.optional{
    padding-left:0px;
}
.forum-image-container{

    width: 300px;
    height: 180px;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 20px;
}
.image_thumb_forum{
    
}
.forum-list-link {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-top:20px;
    margin-top: 5px;
    margin-left: 15px;
    /* text-align: center; */
    width: calc(100% - 343px);
}
.login-btn-main{
    margin-top:-5px;
}
.forum-image-container{
    width:300px;
}
.image_thumb_forum{
    width:100%;
}
.forum-dis-list{
    text-align:left !important;
}
.forum-image-container{
    display:inline-block;
}
.hide-label-checkbox label.checkbox{
    min-height: 0px;
    margin: 0px;
}
.label-key {
    color: #9199a1;
    font-size: 14px;
    padding-bottom:0px;
    margin-bottom:0px;
}
.description-container{
    padding-left:0px !important;
}
.single-description-para{
    min-height:20px;
    /*display:inline-block;*/
    vertical-align:top;
}
.single_postliker,.multi_commentliker{
    display:inline-block;
    float:left;
}
h2.post-title-forum{
    font-weight:300;
    margin-top:0px;
    margin-bottom:0px;
}
    
.backbutton-single{
    display: block !important;
    clear: both;
    width: 57px;
    margin-left: 0px;
    padding-top: 20px;
    margin-bottom: 20px !important;
}
   
.post-title-forum a{
    color: #8ab933;
}
.user-details-post{
    text-align:center;
}
.description-container{
    min-height:100px;
}
.user-single-postpic{
    padding-top:15px;
}
.label-value{
    margin-bottom:0px;
    padding-bottom:0px;
}
.user-details-post{
    padding:15px;
    background-color: rgba(0,0,0,0.05);
    border:rgba(0,0,0,0.05) 1px solid;
}
.description-container {
    padding-left:0px;
}
.forum_post_question_container{
    clear: both;
    padding: 5px 0;
    border-bottom: 1px solid #e4e6e8;
    margin-bottom: 1em;
    padding-top: 20px;
}
.forum_post_question_container h1{
    margin-bottom: .5em;
    font-size: 27px;
    font-weight: 500;
}
.hide-label-checkbox{
    padding-left:0px !important;
}
.label-remember-me {
    padding-left: 27px !important;
}
.post-title-forum{
    margin-bottom: 10px;
    color: #8ab933;
}
.block-review-content{
    min-height: 210px;
}
.comment-body{
    border-right:0px !important;
    border-left:0px !important;
    border-top: 1px solid #e4e6e8;
    border-bottom: 1px solid #e4e6e8;
}
.comment-body .panel-body{
    padding-left:0px !important;
    padding-right:0px !important;
}
form#new_comment{
    margin-bottom:0px;
}
.block-all-post-detail-box-container{
    
    float:left;
}
.block-box-review-post{
    margin-left:10px !important;
}
.block-all-post-detail-box {
text-align: center;
    padding: 5px 5px;
    border: 1px solid #8ab933;
    margin-bottom: 5px;
}

.block-all-post-value-box {
    color: #8ab933;
    font-size: 20px;
    font-weight: 600;
}

.block-all-post-title-box {
    color: #848d95;
    font-size: 11px;
}


.up_vote_st {
    transition:none !important;
    text-indent: -9999em;
    cursor: pointer;
    display: block;
    height: 30px;
    text-align: center;
    text-decoration: none;
    text-indent: -9999px;
    width: 40px;
    column-rule-color: rgb(0, 119, 204);
    perspective-origin: 20px 15px;
    transform-origin: 20px 15px;
    background: url("./sprites.png") no-repeat scroll -40px -170px / auto padding-box border-box, rgba(0, 0, 0, 0) none no-repeat scroll -40px -170px / auto padding-box border-box;
    border: 0px none rgb(0, 119, 204);
    font: normal normal normal normal 1px / 16.9px Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0px 3px 2px;
    background-position: 0 -170px;
   
}/*#likerA_4*/

.up_vote_selected{
    background-position: -40px -170px !important;
}
.down_vote_selected{
     background-position: -40px -220px !important;
}
.number_of_likes {
    border-collapse: collapse;
    color: rgb(106, 115, 124);
    display: block;
    height: 16px;
    text-align: center;
    width: 46px;
    column-rule-color: rgb(106, 115, 124);
    perspective-origin: 23px 8px;
    transform-origin: 23px 8px;
    border: 0px none rgb(106, 115, 124);
    font: normal normal normal normal 20px / 16.9px Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 8px 0px;
    outline: rgb(106, 115, 124) none 0px;
}/*#likerSPAN_5*/
.all-posts-forum-page-content{
    border-bottom: 1px solid #ccc;
}
.down_vote_st {

    cursor: pointer;
    display: block;
    height: 30px;
    text-align: center;
    text-decoration: none;
    text-indent: -9999px;
    width: 40px;
    column-rule-color: rgb(0, 119, 204);
    perspective-origin: 20px 15px;
    transform-origin: 20px 15px;
    background: url("./sprites.png") no-repeat scroll 0px -220px / auto padding-box border-box, rgba(0, 0, 0, 0) none no-repeat scroll 0px -220px / auto padding-box border-box;
    border: 0px none rgb(0, 119, 204);
    font: normal normal normal normal 1px / 16.9px Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0px 3px 10px;
    outline: rgb(0, 119, 204) none 0px;
    overflow: hidden;
    transition:none !important;
}/*#likerA_6*/

.newPostForm label {
    display: inline-block;
    font-weight: 600;
    padding-right: 15px;
    font-size: 16px;
    margin-bottom: 0px;
    vertical-align: middle;
}

.newPostForm input {
    display: inline-block;
}

.newPostForm {
    padding-top: 40px;
}
.question-sidebar{
    padding:15px;
    background-color: rgba(0,0,0,0.05);
    margin-top:40px;
}
.newPostForm input[type="text"] {
    height: 37px;
    padding-left: 10px;
}

.newPostForm .field {
    padding-bottom: 25px;
}

.newPostForm input[type="submit"] {
    width: 150px;
    border:0px !important;
}
.newPostForm input, .newPostForm textarea {
    width: 85%;
    padding-left: 10px;
    border: 1px solid black; 
}
.newPostForm label[for="post_description"]{
    vertical-align:top !important;
    display:block;
}
.newPostForm textarea#post_description{
        margin-left: 50px;
    margin-top: 20px;
}
.newPostForm input:focus,.newPostForm textarea:focus {
    outline: #32cd32 auto 1px !important;
}

.newPostForm textarea {
    height: 220px;
    padding: 10px;
    resize: none;
    background: #FFF;
    border: 1px solid;
}

.newpost_link_toback{
   
  
    margin-bottom: 30px;
    display: block;
}

.disc-edit-del-btns{
    margin-top:31px;
}
.new-post-showall{
    background-color:#8ab933 !important;
    border:none !important;
}
.edit-desc-btn a{
    padding-top:10px;
    color:#8ab933 !important;
}
.comment-body{
    padding-top:10px;
}
.comments-main-body{
    padding-top:0px !important;
}
.comments-main-body h4:first-child{
    margin-top:5px;
}
.comments-reply-container {
    padding-left: 65px;
    padding-top: 10px;
}
.comments-reply-container .new_comment{
    display:none;
}
.comments-reply-container .new_comment{
    padding-top:15px;
}
.new_comment input[type="submit"]{
    background-color: #8ab933 !important;
    border:none !important;
    color: white !important;
}
.backbutton-single{
    color: #8ab933 !important;
}

.get-reply-option-btn{
    display:block;
    padding-top:10px;
    color:#8ab933 !important;
    
}
.get-reply-option-btn:hover,.get-reply-option-btn:focus{
    text-decoration:none;
}
.comments-reply-container .control-label{
    display:none;
}
.comments-reply-container li {
    list-style-type: none;
}

a.comments-small-btns {
    font-size: 12px;
    color: #8ab933 !important;
}
.block-all-post-detail-box-container.visible-xs .block-all-post-detail-box {
    width: 25%;
    display: inline-block;
    margin-right: 1px;
    margin-left: 1px;
}
.ask-a-question-btn{
    margin-top:15px;
    margin-bottom:0px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.commentator-img-box{
    padding: 10px 15px;
    background-color: rgba(0,0,0,0.05);
    border: rgba(0,0,0,0.05) 1px solid;
}
.commentator-img-box.mobile{
    margin:0px auto;
    margin-top: 15px;
    max-width: 200px;
}

.addnewanswerform textarea{
    height:200px !Important;
}
.commentator-answer-txt {
    font-size: 12px;
    margin-bottom: 5px;
}

.commentator-box-thumbimg img {
    width: 50px !important;
    height: auto !important;
}

.commentator-box-thumbimg {
    display: inline-block;
    width: 50px;
}

.commentator-box-right {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px;
}
.container.showsingle-profile{
    padding-top:30px;
}
.image-box-ssp{
    width: 200px;
    margin: 0px !important;
    overflow: hidden;
    border: 1px solid #ccc;
    text-align: center;
    padding-bottom: 20px;
}
.image-box-ssp img{
    padding: 20px;
    max-width: 200px;
}
.image-box-rep {
    font-size: 19px;
}

.image-box-rep span {
    font-size: 12px;
    color: #949596;
}
.container.edit-profile-container {
    padding-top: 20px;
}

.container.edit-profile-container h3 {
    color: #8ab933;
}
.delete-btn-show-posts,.edit-btn-show-posts
{
    
    color:#8ab933 !important;
}
.image-box-ssp,.user-profileinfo-box{
    display:inline-block;
}
.user-profileinfo-box{
    vertical-align: top;
    padding-left:15px;
}
.edit-profile-form {
    width: 50%;
}

.user-profileinfo-box h2{
    margin-top:0px;
}
.readmore-allpost{
    color:#8ab933;
}
.normal-link{
    color: #8ab933;
    padding-top: 10px;
    padding-bottom: 5px;
}
.btn{
    height:auto;
}
.normal-link:hover,.normal-link:focus{
    color: rgba(138, 185, 51, 0.78);
}
.user-profileinfo-box-down {
    padding-top: 2px;
}
.delete-btn-show-posts{
    padding-left:10px;
}
.user-profileinfo-little-container{
    display:inline-block;
    padding-left:10px;
}
.user-profileinfo-little-container:first-child{
    padding-left:0px;
}
@media(min-width:768px){
    .comments-reply-container textarea{
        width:72%;
    }
}
@media(max-width:992px){
    
    #topNav{
        padding-bottom: 0px;
        background-color: white;
        border-bottom: rgba(0,0,0,0.08) 1px solid;
        -webkit-box-shadow: -3px 1px 2px rgba(0,0,0,.1);
        -moz-box-shadow: -3px 1px 2px rgba(0,0,0,.1); 
        box-shadow:-3px 1px 2px rgba(0,0,0,.1);
    }
    div#header{
        border-bottom: 0px !important;
        box-shadow: none !important;
        padding-top:0px !important;
    }
    .forum-list-link {
        width: 100%;
    }
    li.forum-dis-list {
        height: auto;
        margin-bottom: 1px;
        text-align: center;
    }
    .forum-dis-container{
        padding-left:10px;
    }
    .forum-image-container {
        width: 100%;
        text-align: center;
        margin-left:0px;
    }

    img.image_thumb_forum {
        width: 75%;
        text-align: center;
    }
    
    .forum-list-link {
        text-align: center;
        margin-left: 0px;
    }
}
@media(max-width:572px){
    .image-box-ssp {
        margin: 0px auto !important;
        float: none !important;
        display: block !important;
        margin-bottom: 15px !important;
    }
    
    .showsingle-profile {
        text-align: center;
    }
    
    a.edit-profile-link {
        float: none !important;
        padding-bottom: 10px;
        display: block;
    }
    
    .showsingle-profile {
        padding-top: 0px !important;
    }
}

@media(max-width:768px){
    .container.edit-profile-container h3 {
        text-align:center;
    }
    .container.edit-profile-container {
        padding-top: 0px;
        margin-top: -30px;
    }
    
    .edit-profile-form {
        margin: 0px auto;
    }
    .comments-reply-container {
        padding-left: 49px;
        padding-top: 10px;
    }
    .single-description-para{
        text-align:justify;
    }
    .ask-a-question-btn{
        text-align:center;
    }
    .disc-edit-del-btns{
        margin-top:20px;
    }

    .newPostForm input, .newPostForm textarea{
        width:75%;
    }
    .newPostForm .actions{
        text-align:center;
    }
    .post-title-all-posts{
        clear:both;
    }
    .all-posts-forum-page-content{
        text-align:center;
        border-bottom: 1px solid #ccc;
    }
    .block-review-content div.block-review-avatar{
        width:auto !important;
        margin-left:0px !important;
        float:none !important;
        margin-top:15px;
        margin-bottom:15px;
    }
    .post-title-all-posts{
        padding-bottom:15px;
    }
    .all-posts-forum-page-content .pull-left{
        float:none !important;
    }
    .block-all-post-detail-box-container{
        float:none;
    }
}