/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require rails_bootstrap_forms
 *= require font-awesome
 */
 body,p, ol, ul, td,*{
     font-family:'Open Sans', Arial, Helvetica, sans-serif;;
 }
 .apni{
     padding-right: 110px;
     padding-left: 110px;
     padding-top: 50px;
     margin-right: auto;
     margin-left: auto;
     /*margin-top: auto;*/
 }
/*For discplines blocks*/
#section { 
    background-color: #eee;
    padding: 1em;
    text-align: center;
    cursor: pointer;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transition: all 0.15s linear;
    display: block;
    border-radius: 2.5%;
}
#section:hover {
  background-color: #6aacf2
}
#header{
    padding-top:15px;
    padding-bottom:15px;
}
#topMain a{
    font-size:14px;
}
.forum-dis-container{
    overflow:hidden;
}
.forum-dis-container li {
    margin: 0;
    padding: 1em;
    background-color: #EEEEEE;
    height: 250px;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    text-align: center;
    transition: background-color 0.15s linear;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}
.forum-dis-container li:hover {
    background-color: #007db2;
}
.forum-dis-container li:hover a {
    color: #EEEEEE;
    text-decoration: none;
}

.forum-dis-container li a {
    color: #222222;
    transition: none !important;
    height: 100%;
    font-size: 30px;

    
}
.register-form-main-page{
    margin-top:80px;
    margin-bottom:80px;
}
label.select select{
    cursor:pointer;
}
.registeration-form-container #error_explanation {
    padding: 15px;
    padding-bottom: 0px;
}



.registeration-form-container #error_explanation h2 {
    font-size: 22px;
    margin-bottom: 0px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 6px 10px;
}
.registeration-form-container #flash_alert{
     color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 6px 10px;
    margin: 0px 15px;
}
.registeration-form-container #error_explanation ul{
    margin-bottom:10px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    /* padding: 6px 10px; */
    padding-bottom: 10px;
}
.login-form-container .boolean.optional{
    padding-left:0px;
}
.forum-image-container{

    width: 300px;
    height: 180px;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 20px;
}
.image_thumb_forum{
    
}
.forum-list-link {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-top:20px;
    margin-top: 5px;
    margin-left: 15px;
    /* text-align: center; */
    width: calc(100% - 343px);
}
.login-btn-main{
    margin-top:-15px;
}
.forum-image-container{
    width:300px;
}
.image_thumb_forum{
    width:100%;
}
.forum-dis-list{
    text-align:left !important;
}
.forum-image-container{
    display:inline-block;
}

@media(max-width:992px){
    
    .forum-list-link {
        width: 100%;
    }
    li.forum-dis-list {
        height: auto;
        margin-bottom: 1px;
        text-align: center;
    }
    .forum-dis-container{
        padding-left:0px;
    }
    .forum-image-container {
        width: 100%;
        text-align: center;
        margin-left:0px;
    }
    
    img.image_thumb_forum {
        width: 75%;
        text-align: center;
    }
    
    .forum-list-link {
        text-align: center;
        margin-left: 0px;
    }
}